.upper-facade {
    display:flex;
    align-items: center;
    background-color: brown;    
}
.Okno1 {
    margin-top: 15px;
    background-color: rgb(25, 214, 214);
    padding: 5px 15px; 
    display: flex;
    height: 210px;
    
}
.Okno1 h{
    font-weight: 550;
    font-size:26px;
}

.MainText{
    margin-top: 0px;
    width: 50%;
}
.MainPic{
    padding: 15px;
    width:40%;
}
.par1 p{
    color:white;
    background-color:brown;
    padding-left:20px;
}
.optionsBar {
    margin-left:60%;
}
.optionsBar button{
    color: white;
    background-color: brown;
    border:0;
}
.TitleProducts{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.TitleProducts h{
    font-weight: bold;
}
.cellIMG{
    display: flex; 
    justify-content:center;
    margin-bottom: 0px;
}
.cellDescr{
    display: flex; 
    justify-content:center;
    margin-top: 4px;
}
.cellNew{
    width:23%;
    height: 400px; 
    border: 1px solid gray;
}
.NewsWindow{
    display: flex;
    justify-content: center;
}