.upper-facade {
    display:flex;
    align-items: center;
    background-color: brown;    
}
.Okno1 {
    margin-top: 15px;
    background-color: rgb(25, 214, 214);
    padding: 5px 15px; 
    display: flex;
    height: 210px;
    
}
.Okno1 h{
    font-weight: 550;
    font-size:26px;
}
.Okno1 img{
    width: 90%;
    height: 100%;
}
.Okno1 a{
    text-decoration: none;
    color:black;
}
.Okno1 a:hover{
    color:white;
}
.MainText{
    margin-top: 0px;
    width: 50%;
}
.MainPic{
    padding: 15px;
    width:40%;
}
.par1 p{
    color:white;
    background-color:brown;
    padding-left:20px;
}
.optionsBar {
    margin-left:60%;
}
.optionsBar button{
    color: white;
    background-color: brown;
    border:0;
}
.TitleProducts{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.TitleProducts p{
    font-weight: 1000;
    font-size: 20px;
}
.NewsWindow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    

}
.cell{
    flex-wrap: wrap;    
    width: 300px;
    border:2px solid brown;
    padding: 5px;
    margin: 7px;
}
.NewsWindow img{
    width:95%;
    height: 200px;
    
}
.cell button{
    background-color: red;
    padding: 3px;
    color: white;
    border-radius: 12%;
    width: 90px;
    justify-content: center;
    border: 0;
    margin-bottom: 10px;
}
.cell a{
    text-decoration: none;
    color: white;
}
.cell img{
    margin-left:5px;
    margin-right: 5px;
}
.cell h2{
    margin-top:3px;
}